<p id="notice"><%= notice %></p>
<div class="heading">
  <%= link_to image_tag "logo/logo.jpg" %>
  <h1>Bon Appetit!</h1>
</div>




<% @pictures.each do |pic| %>
  <%= link_to pic do %>
  <%=  image_tag pic.url, :class => "myclass", :style => "border-radius:20px;
  height:250px;width:350px; padding: 5px 0; margin-left: 70px;"  %>

  <% end %>
  <% end %>





<%= render 'modal' %>
