<p id="notice"><%= notice %></p>


<div class="">


  <p class='description'>
    <!-- <strong>User:</strong> -->
    <!-- <%= "#{(@current_user.username).capitalize}" %> -->
    <strong>Description:</strong>
    <%= "#{@picture.description}" %>
  </p>

    <p>

      <%= image_tag @picture.url, class:'show_image' %>
    </p>


</div>


<div class="user_page_bottom">

    <section class="bottom_links">

      <%= link_to 'Edit', edit_picture_path(@picture) %> |
      <%= link_to 'Back', pictures_path %>
      |<%= link_to "#{(@picture.user.username).capitalize}'s collection", @picture.user %>
    </section>

</div>

<%= render 'modal' %>
